body{
	background: #f1f8f9;
}

.login{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 4%;
}

.botao{
	float: right;
}

.centraliza_img{
	text-align: center;
}

.perfil_login{
	width: 11%;
    margin-top: 4%;
}

.descricao_empresa{
	font-size: large; font-weight: normal;   
	width: 89%;
    text-align: justify;
}

.sobre{
	width: 65%;
    text-align: center;
    margin-top: 3%;
}

.titulo_evento{
	margin-top: 5%; 
	margin-bottom: 2%; 
	font-size: 50px;
	font-family: cursive;
}

.texto_evento{
	float: right;
    text-align: justify;
    width: 33%;
    margin-right: 20%;
    font-size: 18px;
 }

.dropbtn {
  background-color:#4c8aaf4f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #4c8aaf4f}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4c8aaf4f;
}